/* reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial,Verdana,sans-serif;
}

/* some useful classes */

.clear {
	clear: both;
}

.dialog {
	/* dialogs are hidden by default. To show them, the class visible must be added */
	display: none;
	border: 1px solid black;
	background-color: #ffffff;
	/* centering dialogs horizontally */
	margin: auto;
}

.dialog.visible {
	display: block;
}

.dialog .closeDialog {
	/* Automatically place a close button in the top-right corner and set the background-image */
	float: right;
	height: 16px;
	width: 16px;
	background-image: url("../jquery-ui/images/ui-icons_222222_256x240.png");
	background-position: -80px -128px;
}

.button {
    display: block;
    margin: 4px;
    padding: 6px;
    background-color: #8080b0;
    border: none;
}

/* main part */

/* The main navigation bar (with options like opening and creating databases, ...) */
#mainNav {
	background-color: #909090;
	margin-bottom: 10px;
}

#mainNav > ul > li {
	float: left;
	list-style-type: none;
	padding: 8px;
}

#mainNav > ul > li:hover {
	background-color: #b0b0b0;
}

/* The navigation bar at the right side, where modes can be selected */

#modeNav {
	width: 80px;
	position: absolute;
	top: 60px;
	right: 0;
	width: 20px;
	overflow-x: hidden;
}

#modeNav > ul > li {
	list-style-type: none;
	width: 80px;
	padding: 8px;
	background-color: lightblue;
	margin: 8px;
}

#modeNav > ul > li:hover {
	background-color: yellow;
}

#modeNav:hover {
	width: 100px;
}

#openDatabaseDialog-databaseList > li {
    list-style-type: none;
}