@import '../../styles/themes/default';

:host {
    display: block;
    height: calc(100% - 64px);
}

paper-tabs {
    background-color: $primary-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

paper-icon-button[icon="close"] {
    position: absolute;
    top: 0;
    right: 0;
}

iron-pages {
    height: calc(100% - 48px);
}

tab-content {
    height: 100%;
}
